
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

a, a:hover {
	text-decoration: none;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 95%;
    font-weight: 600;
    padding: .75em 0;
    letter-spacing: 1px;
    color: #fff;
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.nav-item {
	padding: 0 10px;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
}

#mainNav a {
	color: #fff;
}

#mainNav.navbar-shrink {
	background: linear-gradient(45deg, #8a1fc1, #fd3780);
	height: 70px;
}

#mainNav.navbar-shrink .nav-item .nav-link {
	font-weight: 400;
}

#mainNav.fixed-top {
	height: 75px;
}

.img-logo {
	width: 100px;
	padding-top: 35px;
}

#donate {
	padding: 60px 0;
	background-color: #f6e6ff;
}

#donate .content-donate {
	height: 110px;
}

#donate .donate-left {
    position: relative;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 300;
    width: 78%;
    float: left;
    color: rgb(255, 255, 255);
    line-height: 30px;
    border-radius: 12px 0px 0px 12px;
    background: rgb(18, 50, 65);
    padding: 25px 30px;
}

#donate .donate-right {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
    transition: all 0.6s ease 0s;
    width: 22%;
    float: left;
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-align: center;
    border-radius: 0px 12px 12px 0px;
    background: none 0px 0px repeat scroll rgb(130, 0, 198);
    padding: 45px 17px;
}

#donate .donate-right a {
	color: rgb(255, 255, 255);
}

#donate .donate-left::after {
    content: "";
    height: 0px;
    margin-top: -30px;
    position: absolute;
    right: -19px;
    top: 26%;
    width: 0px;
    border-bottom: 54px solid rgba(0, 0, 0, 0);
    border-left: 20px solid rgb(18, 50, 65);
    border-top: 58px solid rgba(0, 0, 0, 0);
}

#about {
	padding: 60px 0;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fd3780;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.text-muted {
    color: #6c757d!important;
}

.rounded-circle {
    border-radius: 50%!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

#projects {
	padding: 60px 0;
	background-color: #f6e6ff;
}

#activities {
	padding: 60px 0;
	
}

#officers {
	padding: 60px 0;
	background-color: #f6e6ff;
}

#officers .team-member {
    margin-bottom: 50px;
    text-align: center;
}

#officers .team-member img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}

#contact {
	padding: 60px 0;
	
}

#contact .form input, #contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

#contact .form button[type="submit"] {
    background: linear-gradient(45deg, #8a1fc1, #fd3780);
    border: 0;
    border-radius: 20px;
    padding: 8px 30px;
    color: #fff;
}

#footer {
	background-color: #292c31;
	padding: 30px 0;
    color: #62656a;
}


.gototop.active {
    opacity: 1;
    visibility: visible;
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: black;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.icon-arrow-up2:before {
    content: "\ea6a";
}